.CardType{
    border: 1px solid grey;
    border-radius: 3px;    
    display: inline-block;
    padding: 10px;
    background-color:#ffa07a;
    margin: 5px;
    width: 100px;
    text-align: center;
}

.CardTypeSelected{
    border: 1px solid grey;
    border-radius: 3px;    
    display: inline-block;
    padding: 10px;
    background-color:tomato;
    margin: 5px;
    width: 100px;
    text-align: center;
}
