.Input {
    width: auto; 
    padding: 10px;
    box-sizing: block; 
    display: inline-block;
}

.Label {
    font-weight: lighter;
    display:  flex;
    margin: 1px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    font: inherit;
    padding: 6px 10px;
    display:  inline-block;  
    width: auto; 
    box-sizing: border-box; 
}

.InputElement:focus {
    outline: none;
    background-color:lightsalmon;
   
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}